body{

   margin: 0;
   font-family: 'Montserrat', sans-serif;
    }

 header {
 
 }
.annoucment{
   background-color:#f15c22;
   pading: 15px 30px;

}
.annoucment p{
    color: white;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}
.menu{
       border-bottom: #f15c22 solid 1px;
}
ol{
    margin: 0;
    text-align: center;
    padding: 20px;
}
ol li{
    display: inline-block;
}
ol li a{
    font-size: 25px;
    color: #f15c22;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    border-radius: 10px;
   
    border: #f15c2236 dashed 2px;
    transition-duration:0.4s;
}
ol li a:hover{  
       border-left: #f15c2200 dashed 2px;
       border-right: #f15c2200 dashed 2px;
       
}
.banner-section{
   padding: 50px 0;
   background-color: #f15c220a;
}
.banner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.banner img {    
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 #2120204d;
    width: 100%;

transition: all 0.3s ease;
}
.banner img:hover{

    box-shadow: 0 0 0px 0 #2120204d;
}

.content-section{
   padding: 50px;
}
.content{
    width:60%;
    margin: auto;
}
.content h1{
   font-size: 80px;margin: 0;
       color: #f15c22;
}
   
.content p{
     font-size: 22px;
}